<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load cache %}
  {% load bbcode_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'form_style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
    <title>{% block title %}   {%endblock %}</title>
</head>
<body>

<h1>{{quote}}</h1>
<h2>{{current_time}}</h2>


<header>

  <nav>
    <ul>
      {% for item in menu %}
      <li class="{% if request.resolver_match.url_name == item.url_name %}active{% endif %}">
        <a href="{% url item.url_name %}">{{item.title}}</a>
      </li>

      {% endfor %}
    </ul>
  </nav>
</header>

  <nav class="navbar">
    <div class="navbar-container">
      <a href="#" class="logo">Мой Сайт</a>
      <ul class="nav-links">
        <li><a href="{% url 'app:all_class' %}">Главная</a></li>
        <li><a href="{% url 'app:create' %}">Создать пост</a></li>
        <li><a href="{% url 'app:archive' %}">Архив</a></li>
        <li><a href="{% url 'app:contact' %}">Контакты</a></li>
      </ul>
    </div>
  </nav>
{% if messages %}
<ul>
  {% for message in messages %}
  <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}





{% block content %}



{% endblock %}

  <footer class="footer">
    <div class="footer-container">
      <p>&copy; 2025 МойСайт. Все права защищены.</p>
      <div class="socials">
        <a href="#">VK</a>
        <a href="#">Telegram</a>
        <a href="#">Instagram</a>
      </div>
    </div>
  </footer>
</body>
</html>