{% extends "base.html" %}

{% block title %}
Архив
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="main-title">Архив дат</h1>

  {% if latest %}


    <div class="ads-grid">
      {% for b in latest %}
        <div class="ad-card">
          <h2 class="ad-title">
            <a href="{{ b.get_absolute_url }}">{{ b.title }}</a>
          </h2>
          <p class="ad-price">{{ b.price }} ₽</p>
          <p class="ad-desc">{{ b.title_and_price }}</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="no-data">Объявлений пока нет.</p>
  {% endif %}
</div>
{% endblock %}
