<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Form</title>
</head>
<body>
<h1>Контактная форма</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Ваш email:</label>
    <input type="email" name="email" required><br>

  <label>Тема:</label>
    <input type="text" name="tema"><br>

  <label>Сообщение:</label>
    <textarea name="message" rows="5" cols="40" required></textarea><br>

    <label>Прикрепить файл:</label>
    <input type="file" name="file"><br>

    <button class="btn" type="submit">Отправить</button>


</form>

</body>
</html>